@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

/* Example: Styling headings */

h1 {
    font-size: 45px;
    line-height: 55px;
    color: rgb(255, 0, 0);
   
}

/* Example: Styling paragraphs */

h2 {
    font-size: 16px;
    color: #ffff00;
    margin: 15px 0 20px 0;
    font-weight: bolder;
    line-height: 25px;
   
}
h3{
    font-size: 15px;
    color: #01a51f;

}

h4 {
    font-size: 20px;
    color: #858585;
    background-color: #f4f2f0;

}

h6 {
    font-size: 25px;
    font-weight: 700;
    color:#ffffff
}

p {
    font-size: 14px;
    color: #9b9b8d;
    margin: 15px 0 20px 0;
    font-weight: bolder;
    line-height: 25px;
}

/* Example: Styling links */

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
    color: rgb(78, 64, 98); 
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:5px;
    padding-bottom: 0px;
    padding-left: 20px;
    background-color: #fa1111;
    box-shadow: 0 5px 15px rgba(0,0,0,.75);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}

#navigationBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigationBar li{
    list-style: none;
    padding:  0 20px;
}

#navigationBar li a{
    color: rgb(0, 0, 0);
}

#navigationBar li a:hover,
#navigationBar li a.currentPage{
    color: rgb(255, 255, 255);
}

#mainPageCenter{
    background-image: url("Pictures/Supreme-Spring-2016-Big.jpg");
    height: 90vh;
    width:100%;
    background-size: cover;
    background-position: 0% 0%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#mainPageCenter button{
    color: red;
    background-color: #ffffff;
    border: none;
    padding: 5px 5px;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
}
#mainPageCenter button:hover{
    background-color: #ff0000;
    color: #ffffff;
}

#product1 {
    text-align: center;
}
#product1 .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}

#product1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 15px;
    border: 10px solid #ffd7d7;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0,0,0,.08);
    margin: 20px 0;
    transition: 0.2s ease;
}

#product1 .product:hover{
    box-shadow: 10px 10px 10px rgb(255, 226, 226);

}

#product1 .product img{
    width: 200px;
    height: 225px;

    border-radius: 20px;
}

#product1 .product .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #dfffe6;
    font-weight: 500;
    color: green;
}

#Discount-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Pictures/Looking-up-at-the-earth-wallpaper-background-Stock-Photo.jpg");
    width:100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 15px rgba(102, 0, 0, 0.25);

}

#Discount-banner h1{
    color:#ffffff;
    font-size: 30;
    padding: 20px;
}

button.basic-button{
    color: #ff0000;
    font-weight: 800;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

#Discount-banner span{
    color:#fff700;
}
#Discount-banner button:hover{
    background-color: #ff0000;
    color: #ffffff;
}

#product1{
    text-align: center;
}
