@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan',sans-serif;
}

/* Example: Styling headings */

h1 {
    font-size: 45px;
    line-height: 55px;
    color: rgb(255, 0, 0);
   
}

/* Example: Styling paragraphs */

h2 {
    font-size: 16px;
    color: #ffff00;
    margin: 15px 0 20px 0;
    font-weight: bolder;
    line-height: 25px;
   
}
h3{
    font-size: 15px;
    color: #01a51f;

}

h4 {
    font-size: 20px;
    color: #858585;
    background-color: #f4f2f0;

}
h5 {
    font: 20px;
    color: black;
}

h6 {
    font-size: 25px;
    font-weight: 700;
    color:#ffffff
}

p {
    font-size: 14px;
    color: #9b9b8d;
    margin: 15px 0 20px 0;
    font-weight: bolder;
    line-height: 25px;
}

/* Example: Styling links */

.section-p1{
    padding: 40px 80px;
}

strong{
    font-weight: bold;
}

.section-m1{
    margin: 40px 0;
}

body{
    width: 100%;
    color: rgb(78, 64, 98); 
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:5px;
    padding-bottom: 0px;
    padding-left: 20px;
    background-color: #fa1111;
    box-shadow: 0 5px 15px rgba(0,0,0,.75);
    z-index: 999;
    position: sticky;
    top:0;
    left:0;
}

#navigationBar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navigationBar li{
    list-style: none;
    padding:  0 20px;
}

#navigationBar li a{
    color: rgb(0, 0, 0);
}

#navigationBar li a:hover,
#navigationBar li a.currentPage{
    color: rgb(255, 255, 255);
}

#mainPageCenter{
    background-image: url("Pictures/Supreme-Spring-2016-Big.jpg");
    height: 90vh;
    width:100%;
    background-size: cover;
    background-position: 0% 0%;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#mainPageCenter button{
    color: red;
    background-color: #ffffff;
    border: none;
    padding: 5px 5px;
    font-weight: 800;
    font-size: 15px;
    border-radius: 5px;
}
#mainPageCenter button:hover{
    background-color: #ff0000;
    color: #ffffff;
}

#product1 {
    text-align: center;
}
#product1 .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    flex-wrap: wrap;
}

#product1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 15px;
    border: 5px solid #ff9595;
    border-radius: 35px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0,0,0,.08);
    margin: 20px 0;
    transition: 0.2s ease;
}

#product1 .product:hover{
    box-shadow: 10px 10px 10px rgba(255, 73, 73, 0.5);

}

#product1 .product img{
    width: 200px;
    height: 225px;

    border-radius: 20px;
}

#product1 .product .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #dfffe6;
    font-weight: 500;
    color: green;
}

#Discount-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("Pictures/banner-background-image.png");
    width:100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 15px rgba(102, 0, 0, 0.25);

}

#Discount-banner h1{
    color:#ffffff;
    font-size: 30;
    padding: 20px;
}

button.basic-button{
    color: #ff0000;
    font-weight: 800;
    background-color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    cursor: pointer;
}

#Discount-banner span{
    color:#ff0000;
}


#Discount-banner button:hover{
    background-color: #ff0000;
    color: #ffffff;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background: url("Pictures/banner-background-image.png");
    width:100%;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 15px rgba(102, 0, 0, 0.25);

}


#newsletter button{
    height: 3.125rem;
    font-size: 14px;
    outline: none;
    width:40%;
    background-color: rgb(255, 255, 255);
    color:rgb(255, 0, 0);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter button:hover{
    background-color: #ff0000;
    color: #ffffff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: .5px solid transparent;
    border-radius:  4px;
    outline: none;
    background-color: #c9c1c1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .email-form{
    display: flex;
    width: 40%;
}

#newsletter h2{
    color:red;
    font-size: 25;
}
.col h4{
    color: black;
    background-color: transparent;
}

.payment h4{
    color: black;
    background-color: transparent;
}

.payment img{
    padding-top: 0%;
}

footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

footer .col{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size:20px;
    padding-bottom: 20px;
}
footer p{
    font-size: 14px;
    padding: 0 0 8px 0;
}

footer a{
    font-size: 14px;
    padding: 0 0 8px 0;
    text-decoration: none;
}

footer .follow i:hover,
footer a:hover{
    color: red;
}
footer .follow,
footer a{
    color:black;
}

footer .copyright{
    width:100%;
    text-align: center;

}

@media (max-width:799px) {
    #navigationBar {
        display: flex;
        flex-direction: column ;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;  
    }    
}
